.fighter-preview___root {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-basis: 50%;
}

.fighter-preview___details {
  width: 150px;
  background-color: #ffdfa7;
  border: 5px solid #ca9650;
}

.fighter-preview___property.name {
  justify-content: center;
  background: firebrick;
  text-align: center;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 5px solid #ca9650;
}

.fighter-preview___property {
  text-transform: capitalize;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ca9650;
}

.fighter-preview___property span:last-child {
  font-weight: bold;
}

.fighter-preview___right div[class$='details']  {
  margin-left: 30px;
}

.fighter-preview___left div[class$='details']  {
  margin-right: 30px;
}

div[class^='fighter-preview'] img {
  max-height: 300px;
}

.fighter-preview___left {
  flex-direction: row-reverse;
}

.fighter-preview___right img {
  transform: scaleX(-1);
}
